{{!-- DIVJES ZIJN GEBRUIKT VOOR VORMGEVING!!! --}}

<body>
    {{>header-hp}}
    <div class="round-top"></div>
    {{#each chats}}
    <a class="chatName" href="/chat/{{this.chatName}}">
        <section class="chat-container">
            <div class="chat">
                <section class="chat-left">
                    <div class="profile-status-container">
                        <section class="profile-picture-container">
                            <img src="{{this.profilePicture}}" alt="Profile Picture" />
                        </section>
                    </div>
                </section>
                <section class="chat-right">
                    <section class="chat-header">
                        <div class="chat-name">{{this.chatName}}</div>
                        <div class="new-message-indicator">{{this.newMessageCount}}</div>
                    </section>
                    <div class="chat-last-message">{{this.lastMessage}}</div>
                </section>
            </div>
        </section>
    </a>
    {{/each}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/home.min.js"></script>
    <script src="../js/window.min.js"></script>
 
</body>

</html>
